apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-env-cm
data:
  PAPERLESS_REDIS: redis://default-paperless-ngx-keydb.default.svc.cluster.local:6379
  PAPERLESS_URL: "https://paperless.{{ .Values.vadderung.baseDomain}}"
  
  PAPERLESS_OCR_LANGUAGE: deu
  PAPERLESS_DATE_PARSER_LANGUAGES: de+en
  PAPERLESS_TIME_ZONE: Europe/Berlin

  PAPERLESS_PRE_CONSUME_SCRIPT: /usr/src/paperless/scripts/pre-consume.sh

  PAPERLESS_CONSUMER_ENABLE_BARCODES: "true"
  PAPERLESS_CONSUMER_ENABLE_ASN_BARCODE: "true"
  PAPERLESS_CONSUMER_ASN_BARCODE_PREFIX: ASN

  PAPERLESS_APPS: "allauth.socialaccount.providers.openid_connect"
  PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: "false"
  PAPERLESS_SOCIAL_AUTO_SIGNUP: "true"
  PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "true"
  PAPERLESS_DISABLE_REGULAR_LOGIN: "true"
  PAPERLESS_REDIRECT_LOGIN_TO_SSO: "true"
  PAPERLESS_USE_X_FORWARD_HOST: "true"

  PAPERLESS_DBENGINE: postgresql
  PAPERLESS_DBHOST_FILE: /run/secrets/db/host
  PAPERLESS_DBPORT_FILE: /run/secrets/db/port
  PAPERLESS_DBNAME_FILE: /run/secrets/db/dbname
  PAPERLESS_DBUSER_FILE: /run/secrets/db/username
  PAPERLESS_DBPASS_FILE: /run/secrets/db/password

  PAPERLESS_SECRET_KEY_FILE: /run/secrets/paperless/secret_key
  PAPERLESS_ADMIN_USER_FILE: /run/secrets/paperless/admin_user
  PAPERLESS_ADMIN_PASSWORD_FILE: /run/secrets/paperless/admin_password

  PAPERLESS_SOCIALACCOUNT_PROVIDERS_FILE: /run/secrets/oidc/providers