apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-env-cm
data:
  PAPERLESS_REDIS: redis://default-paperless-ngx-keydb.default.svc.cluster.local:6379
  PAPERLESS_URL: "https://paperless.{{ .Values.vadderung.baseDomain}}"
  
  PAPERLESS_APPS: "allauth.socialaccount.providers.openid_connect"
  PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: "false"
  PAPERLESS_SOCIAL_AUTO_SIGNUP: "true"
  PAPERLESS_SOCIALACCOUNT_ALLOW_SIGNUPS: "true"
  PAPERLESS_DISABLE_REGULAR_LOGIN: "false"
  PAPERLESS_REDIRECT_LOGIN_TO_SSO: "false"
  PAPERLESS_USE_X_FORWARD_HOST: "true"
