apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-env-cm
data:
  PAPERLESS_REDIS: redis://default-paperless-ngx-keydb.default.svc.cluster.local:6379
  PAPERLESS_URL: "https://paperless.{{ .Values.vadderung.baseDomain}}"
  PAPERLESS_ENABLE_HTTP_REMOTE_USER: "true"
  PAPERLESS_ENABLE_HTTP_REMOTE_USER_API: "true"
  PAPERLESS_HTTP_REMOTE_USER_HEADER_NAME: HTTP_REMOTE_USER
  PAPERLESS_LOGOUT_REDIRECT_URL: "https://auth.{{ .Values.vadderung.baseDomain}}/logout"
  PAPERLESS_USE_X_FORWARD_HOST: "true"
  PAPERLESS_SOCIAL_AUTO_SIGNUP: "true"
  PAPERLESS_ACCOUNT_ALLOW_SIGNUPS: "true"