cilium:
  k8sServiceHost: auto
  k8sServicePort: 6443
  kubeProxyReplacement: true

  l2announcements:
    enabled: true

  encryption:
    enabled: true
    type: wireguard

  ingressController:
    enabled: true
    loadbalancerMode: dedicated

  hubble:
    relay:
      enabled: true
    ui:
      enabled: true
