apiVersion: barmancloud.cnpg.io/v1
kind: ObjectStore
metadata:
  name: mealie-db-object-store
spec:
  configuration:
    destinationPath: "{{ .Values.vadderung.backup.s3bucket }}/mealie/"
    endpointURL: {{ .Values.vadderung.backup.s3endpoint }}
    s3Credentials:
      accessKeyId:
        name: default-s3-secret
        key: AWS_ACCESS_KEY_ID
      secretAccessKey:
        name: default-s3-secret
        key: AWS_SECRET_ACCESS_KEY
    wal:
      compression: gzip
---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Release.Name }}-db
spec:
  instances: 3
  description: "Mealie DB"

#   plugins:
#     - name: barman-cloud.cloudnative-pg.io
#       isWALArchiver: true
#       parameters:
#         barmanObjectName: mealie-db-object-store

  primaryUpdateStrategy: unsupervised

  storage:
    storageClass: longhorn-postgres-replica-storage
    size: 2Gi
  walStorage:
    storageClass: longhorn-postgres-replica-storage
    size: 2Gi

  nodeMaintenanceWindow:
    reusePVC: false # rebuild from other replica instead
---
# apiVersion: postgresql.cnpg.io/v1
# kind: ScheduledBackup
# metadata:
#   name: {{ .Release.Name }}-db-backup
# spec:
#   cluster:
#     name: {{ .Release.Name }}-db
#   schedule: '0 0 * * *'
#   backupOwnerReference: self
#   method: plugin
#   pluginConfiguration:
#     name: barman-cloud.cloudnative-pg.io
