apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Release.Name }}-db
spec:
  instances: 3
  description: "Mealie DB"

  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: cluster-backup-store

  primaryUpdateStrategy: unsupervised

  storage:
    storageClass: longhorn-postgres-replica-storage
    size: 2Gi
  walStorage:
    storageClass: longhorn-postgres-replica-storage
    size: 2Gi

  nodeMaintenanceWindow:
    reusePVC: false # rebuild from other replica instead
---
apiVersion: postgresql.cnpg.io/v1
kind: ScheduledBackup
metadata:
  name: {{ .Release.Name }}-db-backup
spec:
  cluster:
    name: {{ .Release.Name }}-db
  schedule: '0 0 * * *'
  backupOwnerReference: self
  method: plugin
  pluginConfiguration:
    name: barman-cloud.cloudnative-pg.io
