apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: authelia-db
spec:
  instances: 3
  description: "Authelia DB"

  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: cluster-backup-store

  primaryUpdateStrategy: unsupervised

  storage:
    storageClass: longhorn-postgres-replica-storage
    size: 2Gi
  walStorage:
    storageClass: longhorn-postgres-replica-storage
    size: 2Gi

  nodeMaintenanceWindow:
    reusePVC: false # rebuild from other replica instead
