apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
spec:
  acme:
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    email: {{ .Values.vadderung.acme.email }}
    profile: tlsserver
    privateKeySecretRef:
      name: letsencrypt-staging

    solvers:
      - dns01:
        cloudflare:
          apiTokenSecretRef:
            name: cloudflare-secret
            key: api-token
        selector:
          dnsZones:
            - {{ .Values.vadderung.baseDomain }}
