vadderung:
  baseDomain: ~

cwa:
  image: ghcr.io/crocodilestick/calibre-web-automated@sha256:3b6b7b9a2ff8f7bd5edcf126196cdc41d92d4f3528fdc16253a09e17c429a7ff
  tz: Europe/Berlin
  port: 8083
  storage:
    librarySize: 80Gi
    configSize: 2Gi

  startupProbe:
    httpGet:
      port: http
      path: /health
    initialDelaySeconds: 30
    periodSeconds: 5
    timeoutSeconds: 3
  livenessProbe:
    httpGet:
      path: /health
      port: http
    timeoutSeconds: 3
  readinessProbe:
    httpGet:
      path: /health
      port: http
    timeoutSeconds: 3

rsync:
  enabled: false
  image: eeacms/rsync:3.0
